* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.img-header {

  border: 0;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

.img-header .search {
  position: absolute;
  margin-left: 10rem;
}

.img-header .search input {
  width: 150%;
  text-indent: 25px;
  height: 40px;
  padding: 10px 0 10px 15px;
  border: 2px solid #d6d4d4;
}

.col-lg-2 {
  background-color: #fff;
}

.dropbtn {
  margin-left: 5px;
  color: black;
  font-size: 12px;
  cursor: pointer;
  font-weight: 500;
  border: 1px solid #f0f0f0;
  border-radius: none;
  padding: 10px 20px;
  background-color: #fff;
  justify-content: center;
}

.dropdown {
  background-color: #fff;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 95px;
  overflow: auto;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 11111111;
}

.dropdown-content a {
  color: black;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
  transition: .3s;
}

.dropdown a:hover {
  background-color: pink;

  color: white;
}

.show {
  display: block;
}


.dropbtn2 {
  color: #292930;
  font-size: 12px;
  cursor: pointer;
  font-weight: 500;
  border: 1px solid #f0f0f0;
  border-radius: none;
  padding: 10px 20px;
  justify-content: center;
  margin-left: 10px;
  background-color: #fff;
}

.dropdown2 {
  position: relative;
  display: inline-block;
}

.dropdown-content2 {
  display: none;
  position: absolute;
  min-width: 95px;
  overflow: auto;
  margin-left: 20px;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content2 a {
  color: black;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
  transition: .3s;
}

.dropdown2 a:hover {
  background-color: pink;
  color: white;
}

.show2 {
  display: block;
}

.search input {
  width: 50%;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #d4d4d4;
  border-radius: 6px;
  font-size: 16px;
  padding-left: 50px;
  color: #292930;
  font-weight: 500;
  height: 40px;
  padding-right: 2px;
  padding: 0 15px;
  font-family: inherit;
  margin-left: 300px;
  margin-top: -50px;
  position: absolute;
}

.logo {
  margin-top: 30px;
  display: flex;
}

.search i {
  background-color: rgba(0, 0, 0, 0);
  color: #292930;
  position: absolute;
  top: 14px;
  left: 310px;
  font-size: 14px;
}

.categories button {
  font-size: 16px;
  background: #3577F0;
  margin-bottom: 0;
  padding: 18px 74px;
  position: relative;
  outline: none;
  border: none;
}

.categ-title {
  position: relative;
  display: flex;
  align-items: center !important;
}

.categories {
  margin-left: 5.5rem;
}

.categ-title .icon {
  position: absolute;
  right: 80%;
  color: white;
  font-size: 18px;
  bottom: 34%;
}

.categ-title .text {
  color: white;
  font-family: sans-serif;
  margin-right: 25px;
}

.category-menu {
  margin-top: 31px !important;
  background-color: #F7F7F7;
  height: 58px !important;
}

nav ul {
  padding: 0;
  list-style: none;
}

nav ul li {
  display: inline-block;
  position: relative;
  text-align: left;
  padding: 10px 20px;
}

nav ul li a {
  display: block;
  font-family: "DM Sans", sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: black;
  text-decoration: none;
  font-size: 15px;
}

nav ul li a:hover {
  color: black;
  text-decoration: none;
}

.home-txt1 .home {
  position: relative;
}

.home-txt1 .home:after {
  content: "";
  position: absolute;
  width: 75%;
  display: block;
  height: 1.5px;
  background-color: black;
  bottom: -2px;
}

.sub-menu .home-txt {
  position: relative;
}

.sub-menu .home-txt:after {
  content: "";
  position: absolute;
  background-color: black;
  height: 1.5px;
  width: 0;
  left: 0;
  bottom: -4px;
  transition: 0.3s;
}

.sub-menu .home-txt:hover:after {
  width: 100%;
}

nav ul li ul.dropdown-main {
  min-width: 240%;
  height: auto;
  background: white;
  box-shadow: 0px 4px 10px rgba(37, 47, 63, 0.1);
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  top: 109%;
  position: absolute;
  z-index: 999;
  left: 30%;
  transition: all 0.4s ease 0s;
}

nav .sub-menu:hover .dropdown-main {
  opacity: 1;
  visibility: visible;
}

nav ul li:hover ul.dropdown-main {
  display: block;
}

nav ul li ul.dropdown-main li {
  display: block;
}

.dropdown-main li a {
  line-height: 1px;
  font-size: 14px;
  margin-right: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.dropdown-main li a:hover {
  color: #ff497c;
  transition: all 0.3s ease-in-out;
}

.navbar {
  display: flex;
  position: relative;
  justify-content: left;
  align-items: center;
}

.sub-menu {
  right: 21.5%;
}

.sub-menu a i {
  color: #bcbcbc;
  font-size: 14px;
}

.right-icon {
  display: flex;
  align-items: center;
  margin: 18px;
}

.right-icon i {
  margin-right: 20px;
}

.right-icon .wish-list i {
  font-size: 20px;
}

.right-icon .cart-shopping i {
  font-size: 20px;
}

.right-icon .login i {
  font-size: 14px;
}

.right-icon .count {
  text-align: center;
  background-color: #3577F0;
  border: 2px solid white;
  font-size: 10px;
  font-weight: 500;
  color: white;
  border-radius: 50%;
  height: 22px;
  width: 22px;
  top: 100px;
  right: 9.5%;
  line-height: 19px;
  position: absolute;
}

.menu-container {
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
}

.menu {
  background-color: white;
  border: 1px solid #e8e8e8;
  width: 243px;
  font-family: Verdana, Geneva, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  position: relative;
  padding: 0 0 0 4px;
  margin: 0;
  transition: 0.3s;
  margin-left: 88px;
  background-color: white;
}

.menu a,
.menu a:link,
.menu a:visited,
.menu a:focus,
span {
  color: #999999;
  font-size: 14px;
  font-family: "DM Sans", sans-serif;
  text-decoration: none;
}

.menu a:hover {
  color: #227087;
  text-decoration: none;
}

.menu>li {
  display: block;
  padding-left: 60px;
  margin-left: -4px;
  border-top-right-radius: 6px;
  border-left: 1px solid rgba(255, 255, 255, 0.11);
  box-shadow: -1px 0 0 rgba(0, 0, 0, 0.1);
}

.menu>li>a {
  padding: 20px 18px;
  display: block;
}

.menu>li:hover>a {
  color: #227087;
}

.menu>li:hover {
  background-color: #fff;
}

/* Megadrop width dropdown */
.menu>li>.megadrop {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  list-style: none;
  top: 0px;
  left: 153px;
  width: 386%;
  min-height: 150%;
  margin-left: 100px;
  text-align: left;
  margin-top: 30px;
  padding: 0;
  z-index: 99;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
  border-left: 2px solid #f6f7fb;
  border-top: 2px solid #f6f7fb;
  border-right: 6px solid #f6f7fb;
  border-bottom: 2px solid #f6f7fb;
}

.menu>li:hover .megadrop {
  opacity: 1;
  visibility: visible;
  margin-top: 0px;
}

.menu ul li:hover:after {
  color: #227087;
}

.menu .col {
  width: 14.1%;
  float: left;
  color: white;
  margin-top: 80px;
}

.menu .col ul {
  padding: 0;
  margin: 0;
}

.menu .col ul li {
  padding: 0;
  list-style: none;
  font-size: 11px;
}

.menu .col h3 {
  font-size: 16px;
  padding: 1px 20px;
  font-weight: bold;
  margin-left: 3rem;
  color: black;
  font-family: "DM Sans", sans-serif;
}

.menu #shop1-txt {
  font-size: 16px;
  padding: 1px 20px;
  font-weight: bold;
  margin-left: 3rem;
  color: black;
  font-family: "DM Sans", sans-serif;
}

.menu #shop1 {
  position: absolute;
  top: 145px;
}

.menu .col ul li a {
  display: block;
  line-height: 30px;
  margin-left: 4.3rem;
  font-size: 14px;
  font-weight: 500;
  min-width: 100px;
  color: #777777;
}

.menu .col ul li a:hover {
  color: #111;
  text-decoration: underline;
}

.posit {
  border-left: 1px solid #e0dcdc;
  height: 506px;
  position: absolute;
  left: 60.5%;
  bottom: 6%;
}

.featuredd {
  margin-left: 50px;
}

.featuredd h3 {
  font-size: 16px;
  margin-top: 40px;
  font-weight: bold;
  font-family: "DM Sans", sans-serif;
}

.featuredd img {
  margin-top: 15px;
}

.featuredd .img2 {
  margin-left: 11px;
}

.featuredd button {
  border-radius: 6px;
  font-size: 16px;
  line-height: 1.7;
  font-weight: 700;
  display: inline-block;
  padding: 16px 38px;
  position: relative;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

.featuredd .bottom-btn:after {
  transform: scale(1.1);
}

.featuredd .bottom-btn:before {
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 6px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.col-lg-7 .border {
  border-radius: 7px;
}

.header-menu {
  background: #3577f0;
  margin-bottom: 0;
  display: flex;
  padding: 18px 74px;
  position: relative;
  cursor: pointer;
  border: 1px solid #f6f7fb;
  margin-left: -75px;
}

.header-menu .text {
  margin-left: 5px;
  font-size: 16px;
  color: #fff;
}

.header-menu .icon {
  color: #fff;
}

.nav a {
  font-size: 16px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #000000;
}

.nav .about {
  color: #000000;
  font-weight: 500;
  padding: 14px 16px;
}

.subnav {
  overflow: hidden;
}

.subnavbtn button i {
  color: #c6c6c6;
}

.subnav .subnavbtn {
  color: #000000;
  font-weight: 500;
  font-size: 16px;
  border: none;
  outline: none;
  padding: 14px 30px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.subnav-content {
  display: none;
  position: absolute;
  background-color: #fff;
  z-index: 1;
  border-radius: 10px;
}

.subnav-content a {
  color: #000000;
  text-align: start;
  text-decoration: none;
  display: block;
  min-width: 250px;
  padding: 8px;
  border-radius: 4px;
}

.subnav-content a:hover {
  color: #ff497c;
}

.subnav i {
  color: #777777;
  font-size: 14px;
}

.subnav:hover .subnav-content {
  display: block;
}

.subnav-content .title {
  font-size: 12px;
  color: #777777;
}

.subnav-content a {
  color: #292930;
  font-size: 16px;
}

.btn.btn-primary {
  color: #f0f0f0;
  padding: 10px 20px;
  height: 10px;
}

.subnav-content h6 {
  font-size: 12px;
  color: #777777;
}

.subnav-content .link {
  font-size: 12px;
  color: #27272E;
  margin-bottom: 7px;
}

.login-subnavbtn {
  color: #000000;
  font-weight: 500;
}

.login-subnav {
  overflow: hidden;
}

.login-subnavbtn i {
  color: #c6c6c6;
}

.login-subnav .login-subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.login-subnav-content {
  display: none;
  position: absolute;
  background-color: #fff;
  z-index: 1;
  right: 10px;
  border-radius: 10px;
}

.login-subnav-content a {
  color: #000000;
  text-align: start;
  text-decoration: none;
  display: block;
  min-width: 250px;
  padding: 8px;
  border-radius: 4px;
}

.login-subnav-content a:hover {
  color: #ff497c;
}

.login-subnav i {
  color: #212529;
  font-size: 20px;
}

.login-subnav:hover .login-subnav-content {
  display: block;
}

.login-subnav-content .title {
  font-size: 12px;
  color: #777777;
}

.login-subnav-content a {
  color: #292930;
  font-size: 16px;
}

.btn.btn-primary {
  color: #f0f0f0;
  padding: 10px 35px;
}

.login-subnav-content h6 {
  font-size: 12px;
  color: #777777;
}

.login-subnav-content .link {
  font-size: 12px;
  color: #27272E;
  margin-bottom: 7px;
}

.login-bottom h6 {
  padding-top: 10px;
}

/* login end */
.icon ul {
  display: flex;
  align-items: center;
  margin: 0 -10px;
  padding: 0;
}

.icon .axil-search {
  position: relative;
}

.icon ul li {
  margin: 0 10px;
}

.icon .axil-search input {
  border: 1px solid #f0f0f0;
  height: 40px;

}

.icon .axil-search input {
  border-radius: 6px;
  max-width: 250px;
  height: 50px;
  opacity: 1;
  font-size: 14px;
  outline: none;
}

.icon .search {
  color: #777777;
}

.icon .axil-search .iconn {
  position: absolute;
  left: 15px;
  width: auto;
  padding: 0;
  top: 52%;
  transform: translateY(-50%);
  line-height: 1;
  background-color: rgba(0, 0, 0, 0);
  font-size: 22px;
}

.icon ul li a {
  font-size: 24px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.icon ul li {
  list-style: none;
}

.icon ul li a::after {
  content: "";
  height: 45px;
  width: 45px;
  transform: scale(0);
  border-radius: 50%;
  position: absolute;
  z-index: -1;
}

.icon .action-list li a i {
  color: #000000;
}

.menu {
  background-color: white;
  border: 1px solid #e8e8e8;
  width: 243px;
  font-family: Verdana, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  position: relative;
  padding: 0 0 0 4px;
  margin: 0;
  transition: 0.3s;
  background-color: white;
  margin-left: -74px;
}

.slider-box-wrap {
  border-radius: 6px;
  padding: 48px 50px;
}
.slider-box-wrap .slick-content {
  display: flex;
}
.slider-box-wrap .slick-content .slider-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.slider-box-wrap .slick-content .slider-left .subtitle {
  font-size: 14px;
  line-height: 1;
  display: flex;
  align-items: center;
  color: #ff497c;
}
.slick-content .slider-left .title {
  font-size: 50px;
  margin-left: 250px;
  margin-top: -1080px;

}

.bag {
  background-color: #f7f7f7;
}

#bg {
  margin-right: 100px;
}

.bagtitle {
  margin-right: 100px;
}

#pricee {
  margin-right: 150px;
  font-weight: bold !important;
}

.slick-content .slider-right{
  margin-left: 270px;
  margin-top: -680px;
}

.slick-content .slider-left i{
  margin-left: 270px;
  margin-top: -2190px;
}

.bgimg {
  margin-top: -690px;
  margin-left: 570px;
}

.bagtitle {
  margin-left: 370px;
}

.price {
  margin-left: 370px;
}

.flash-sale-section span {
  color: #8C71DB;
  font-weight: bold !important;
}

.flash-sale-section h2 {
  font-weight: bold !important;
}

.flash-sale-section i {
  background-color: white;
  padding: 6px;
  border-radius: 20px;
}

.slider {
  margin-left: -70px !important;
  width: 200%;
  padding: 20px;
  display: flex;
}
.slider .card {
  margin: 15px;
  border-radius: 10px;
  overflow: hidden;
  margin-left: 40px;
}

.sliderr {
  margin-left: -70px !important;
  width: 120%;
  padding: 20px;
  display: flex;
}

.slider .card p {
  font-size: 17px;
  color: gray;
  cursor: pointer;
  font-weight: normal;
}
.slider .card .price-old-price {
  color: gray;
  padding-right: 6px;
  text-decoration: line-through;
}
.slider .card .card-body {
  padding-top: 30px;
  background-color: white;
}
.slider .card span {
  color: #738289;
  font-weight: bold;
}
.slider .card .img {
  width: 100%;
  overflow: visible;
}
.slider .card img {
  -o-object-fit: contain;
     object-fit: contain;
  overflow: hidden;
  transition: 0.5s;
}
.slider .card .price {
  text-align: center;
}
.slider .card .price span {
  font-size: 20px;
  font-weight: 600;
}
.slider .hover {
  align-items: center;
  padding: 10px;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  border-radius: 20px;
}
.slider .hover i {
  background-color: #ff729a;
  color: white;
  padding: 5px 7px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
}
.slider button {
  background-color: #FF497C;
  margin: 10px;
  color: white;
  border-radius: 10px;
}

.card:hover .hover {
  opacity: 1;
  visibility: visible;
  bottom: 20%;
}

.slider .card:hover img {
  transform: scale(1.2);
}

.slider p:hover {
  color: #3577F0;
}

.corusel-category .card1 {
  background-color: white;
  padding: 10px;
  margin: 23px;
  border: 1px solid rgb(237, 237, 237);
}
.corusel-category .img {
  width: 50%;
  align-items: center;
  margin-left: 25px;
  padding-top: 40px;
}
.corusel-category p {
  font-size: 13px;
  text-align: center;
  padding-bottom: 15px;
  padding: 10px 10px 10px 30px;
  cursor: pointer;
  font-weight: bold;
}
.corusel-category img {
  -o-object-fit: contain;
     object-fit: contain;
}

#hmdv {
  background-color: #F8F8F8;
}

#browsecat {
  font-size: 13px;
  color: #FF497C;
  margin-top: 70px;
  font-weight: bolder;
}

#browsecat h5 {
  font-size: 35px;
  color: #000000;
  font-weight: bold;
}

.mainmenu {
  margin-right: 85px;
}

.flash-sale-sectionn span {
  color: #8C71DB;
  font-weight: bold !important;
}

.flash-sale-sectionn h2 {
  font-weight: bold !important;
}

.flash-sale-sectionn i {
  background-color: white;
  padding: 6px;
  border-radius: 20px;
}

.flash-sale-sectionnn span {
  color: #FF497C;
  font-weight: bold !important;
}

.flash-sale-sectionnn h2 {
  font-weight: bold !important;
}

.flash-sale-sectionnn i {
  background-color: white;
  padding: 6px;
  border-radius: 20px;
}

.flash-sale-sectionnn h2 {
  font-size: 50px;
}

#timer {
  font-family: Arial, sans-serif;
  font-size: 20px;
  color: #999;
  letter-spacing: -1px;
  margin-bottom: 20px;
  margin-top: 20px;
}

#timer span {
  font-size: 60px;
  color: #333;
  margin: 0 3px 0 15px;
  padding: 15px;
  background-color: #fff;
  border-radius: 55px;
}

#timer span:first-child {
  margin-left: 0;
}


.timer3 {
  margin-top: 20px;
}

#timer1 {
  font-family: Arial, sans-serif;
  font-size: 20px;
  color: #999;
  letter-spacing: -1px;
}

#timer1 span {
  font-size: 60px;
  color: #333;
  margin: 0 3px 0 15px;
}

#timer1 span:first-child {
  margin-left: 0;
}

#timer1 {
  font-size: 17px;
  margin-bottom: 20px;
  margin-top: 20px;
}

#time1r span {
  border-radius: 100%;
  background-color: #Fff;
  padding: 15px;
  font-size: 40px;
}

.axil-poster-countdown {
  background-color: #F6F7FB;
}

#allproducts {
  margin-left: 500px;
}/*# sourceMappingURL=style.css.map */

.section-title-wrapper{
  margin-bottom: 0 !important;
  padding-right:100px ;
}
.title-highlighter.highlighter-primary {
    color:#8C71DB;

}
.title-highlighter i {
  height: 24px;
  width: 24px;
  line-height: 24px;
  border-radius: 50%;
  font-size: 12px;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 3px;
}
.title-highlighter i {
  height: 24px ;
  width: 24px ;
  background-color: #8C71DB;
  color: white;
  line-height: 24px ;
  border-radius: 50% ;
  font-size: 12px ;
  text-align: center ;
  margin-right: 10px ;
  margin-top: 5px;
}

.newsletter-content {
  background-image: url("https://new.axilthemes.com/demo/template/etrade/assets/images/bg/bg-image-12.jpg");
  margin-top: 70px;
  width: 100%;
  height: 400px;
}

.newsletter-content h2{
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 40px;
  font-size: 35px;
}

.newsletter-content input{
  margin-left: 40px;
  height: 40px;
  border-radius: 6px;
  border: none;
  width: 300px;
}

.input-group button {
  background-color: #292930;
  color: #fff;
  border-radius: 6px;
  padding: 5px;
}

.bg-vista-white {
  background: #f9f3f0;
}

.service-box .icon {
  margin-top: 60px;
  border: 0;
  vertical-align: middle;
  display: flex;
  max-width: 100%;
  height: auto;
  max-height: 60px;
  text-align: left;
}

.content .title {
  margin-left: 20px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 0;
  display: flex;
  border: none;
  padding: 0;
  text-align: left;
  background-color: rgba(0, 0, 0, 0);
}

.content p {
  font-size: 14px;
  line-height: 1, 7;
  font-weight: 400;
  color: #777777;
  margin: 0 0 30px;
  margin-left: 20px;
}

.axil-contact-page .title {
  color: #000000;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.3;
  margin-top: 60px;
}

.axil-contact-page .contact-location span {
  margin-bottom: 10px;
  display: block;
  color: #777777;
  font-weight: 400;
  margin-top: 15px;
  font-size: 16px;
}

.contact-career p {
  color: #777777;
  font-weight: 400;
  font-size: 16px;
}

.opening-hour p {
  color: #777777;
  font-weight: 400;
  font-size: 16px;
}
.services .service-box img{
  width: 100%;
}
.headerrr{
  background-color: #fff;
}
.header-top-1{
  background-color: #292930;
}

.axil-footer-widget h5{
  font-weight: 600;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.025em;
  margin-bottom: 20px;
  margin-top: 40px;
  margin-left: 15px;
}

.axil-footer-widget p {
  font-size: 16px;
  line-height: 1.7;
  font-weight: 400;
  color: #777777;
  margin: 0 0 30px;
  margin-left: 15px;
}

.axil-footer-widget a {
  margin-top: 12px;
  margin-bottom: 12px;
  position: relative;
  color: #777777;
  font-size: 16px;
  line-height: 1.7;
  font-family: "DM Sans", sans-serif;;
  font-weight: 400;
  overflow: hidden;
  overflow-y: auto;
}

.inner span {
  color: #777777;
  font-size: 16px;
  line-height: 1.7;
  font-family: "DM Sans", sans-serif;;
  font-weight: 400;
  margin-left: 15px;
}

.download-btn-group {
  margin-top: 15px;
  margin-left: 20px;
  display: flex; 
}
ul li{
  list-style: none;
}
.app-link{
  margin-left: 15px;
}

.axil-footer-widget .widget-title {
margin-left: 31px;
}

.support-list-item a {
  margin-left: -20px;
}

.social-share a{
 color: #777777;
}

.quick-link a {
  color: #777777;
}

.quick-link li {
  color: #777777;
  font-size: 16px;
  font-family: "DM Sans", sans-serif;;
}

.payment-icons img{
  display: flex;
}
